 
    

body { 
    background: #5fcac4;

}

img {
    width: 50%;
}

aside {
    position: relative;
    left: 52%;
    bottom: 60%;
    width: 50%; 
}
.side-note {
    visibility: hidden;
}

/*small and up (landscape phones)*/
@media (min-width: 576px) {
    body{
        background: blue;
        display: flex;
        justify-content: center;
    }
    .side-note {
        visibility: hidden;
    }
} 
/*medium and up (tablets)*/
@media (min-width: 768px) {
    body {
        background: purple;
    }
    .side-note {
        visibility: visible;
    }
}
/*large and up (desktops)*/
@media (min-width: 992px){
    body {
    background: gray;
    }
    .side-note {
        visibility: visible;
    }
}
/*extra large and up (wide-screnn desktops)*/
@media (min-width: 1200px) {
    body {
        background: red;
    }
    .side-note {
        visibility: visible;
    }
}
